*{margin: 0;padding: 0}
a{
    text-decoration: none;
}
.wrap{
    display: block;
    width: 100%;
    height: auto;
}
.title-mi{
  position: relative;
  overflow: hidden;
  height: 100px;
  margin-top: 10px;
}
.title-img>img{
    margin-left: 200px;
    margin-top:15px;
    width: 210px;
    height: 55px;
}
.content{
    height: 550px;
    background: #F6F6FE;
}
.wrap-mi9>img{
    width: 910px;
    height:550px;
}
.form{
    text-align: center;
    width:400px;
    border:1px solid white;
    margin-left:auto;
    margin-right: 200px;;
    float: right;
    height: 515px;
    background: white;
    margin-top:35px;
}
.form-content{
    
    position: relative;
    height:300px;
}
.form-content>div{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.saomao{
    display: none;
    margin-top: 120px;
}
.app{
    color:#ff6700;
    margin-left: 5px;
    margin-right: 5px;
}
.nav{
    line-height: 50px;
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.account input{
    width:334px;
    height:46px;
    margin-top: 20px;
}
.active{
    color:#ff6700;
    
}
.nav-line {
    width: 1px;
    height: 24px;
    margin: 0 35px 0 42px;
    border: 0.5px solid #e0e0e0;
}
.nav-btn>p>a{
    font-size: 14px;
    text-decoration:none;
    color:#757575;
}
.nav-btn>p>a:hover{
    color: #ff6700;
}
a.crumb{
    margin-left: 83px;
}
.btn-line{
   color:#757575;
}
.nav span{
    cursor: pointer;
    font-size: 24px;
}
.nav>span:hover{
    color: #ff6700;
}
input {
    outline: none;
}
.nav-btn>input {
    height: 50px;
    width: 336px;
    background-color: #ff6700;
    border: 0;
    color: white;
    cursor: pointer;
}
.nav-btn{
    text-align: center;
}
.QQ>img,.weibo>img,.zhifu>img,.weixin>img{
    height: 30px;
    width: 30px;
}
.nav-tip{
    margin-top: 105px;
}
.weibo,.zhifu,.weixin{
    margin-left: 35px;
    margin-top: 10px;
}
.nav-tip>p{
    margin-bottom: 15px;
}
li{
    float: left;
    list-style: none;
}
.botton{
  margin-top: 100px;
  margin-left:28%;
}
.botton-ul{
    margin-left: 133px;
    margin-bottom: 20px;
}
.botton-p{
    margin-top: 20px;
}
.botton-ul-vie{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #757575;
}
.botton-ul-vie:hover{
    color: black;
}
p.botton-p>span{
    font-size: 14px;
    color: #757575
}
